<a href="https://colab.research.google.com/github/minervagonzalez11/Visualizacion_Datos/blob/main/Limpiar_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NumPy: Libreria Fundamental para Computacion Cientifica en Python
NumPy: Es una libreria fundamental para la computacion cientifica en Python =, Es la base de muchas otras

Cargar librerias Pandas y Numpy

In [1]:
import pandas as pd
import numpy as np

Crear un DataFrame con datos sucios

In [2]:
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4, 5],
    'B': [5, 6, 7, np.nan, 9],
    'C': ['a', 'b', 'C', 'd', 'e'],
    'D': ['foo', 'bar', 'foo', 'bar', 'foo']
})
print("DataFrame original:")
print(df)

DataFrame original:
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar
2  NaN  7.0  C  foo
3  4.0  NaN  d  bar
4  5.0  9.0  e  foo

Eliminar filas con valores nulos

In [3]:
df_clean = df.dropna()
print("\nDataFrame si  filas nulas:")
print(df_clean)

DataFrame si  filas nulas:
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar
4  5.0  9.0  e  foo

Rellenar valores nulos

In [5]:
df_filled = df.fillna(value={'A': df['A'].mean(), 'B': df['B'].median})
print("\nDataFrame con valores nulos rellenados:")
print(df_filled)

DataFrame con valores nulos rellenados:
     A                                                  B  C    D
0  1.0                                                5.0  a  foo
1  2.0                                                6.0  b  bar
2  3.0                                                7.0  C  foo
3  4.0  <bound method Series.median of 0    5.0\n1    ...  d  bar
4  5.0                                                9.0  e  foo

Eliminar duplicados

In [7]:
 df_no_duplicantes = df.drop_duplicates(subset=['D'])
 print("\nDataFrame sin duplicados en la columna D:")
 print(df_no_duplicantes)

DataFrame sin duplicados en la columna D:
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar

Renombrar columnas

In [8]:
df_renamed = df.rename(columns={'A': 'Alpha', 'B': 'Beta',
                                'C': 'Charlie', 'D': 'Delta'})
print("\nDataFrame con columnas renombradas:")
print(df_renamed)

DataFrame con columnas renombradas:
   Alpha  Beta Charlie Delta
0    1.0   5.0       a   foo
1    2.0   6.0       b   bar
2    NaN   7.0       C   foo
3    4.0   NaN       d   bar
4    5.0   9.0       e   foo